body{
  font-family: "Lato";
}

nav > li > a{
  color: #444 !important;

}

.navbar-main {
    background-color: #fff;
    border-color: #fff;
    padding-top: 16px;
}
div.logo-text{
  font-size: 20px;
  font-weight: bold;
  color: #444;
  width: 300px;
  padding-top: 18px;
  line-height: 1;
}

div.logo-text > span{
  font-size: 14px;
  color: #444;
  font-weight: normal;
}

ul.nav > li{
  padding-top: 10px;
}

div.header-bottom{
  background-image: url(images/fon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div.header-caption{
  font-size: 55px;
  color: #fff;
  font-weight: 200;
  text-align: center;
  line-height: 1;
}

div.header-caption-2{
  padding-top: 30px;
  font-size: 18px;
  font-weight: lighter;
  color: #fff;
}

div.main-btn{
  padding-top: 50px;
}

div.main-btn > a{
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  background-color: #1bbc9b;
  padding: 12px 13px;
}

div.main-btn > :hover{
  text-decoration: none;
  background-color: #444;
}

div.header-wrapper{
  padding-top: 80px;
  padding-bottom: 80px;
}

div.arrow{
  padding-top: 40px;
}

div.top-center{
  padding-bottom: 55px;
}

div.pd{
  padding-bottom: 22px;
}

div.caption{
  font-size: 28px;
  color: #444;
  padding-bottom: 40px;
  padding-top: 55px;
}

div.caption > span{
  font-size: 16px;
}

div.caption-white{
  font-size: 28px;
  color: #fff;
  padding-bottom: 40px;
  padding-top: 55px;
}

div.caption-white > span{
  font-size: 16px;
}

div.main-btn > a{
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  background-color: #1bbc9b;
  padding: 12px 13px;
}

div.main-btn > :hover{
  text-decoration: none;
  background-color: #fff;
  color: #444;
}

div.controls{
  padding-bottom: 55px;
}

a.home-button{
    padding: 15px 12px;;
    background-color: #1bbc9b;
}
a.home-button:hover{
    background-color: #fff;
    color: #444;
    text-decoration: none;
}
a.link-button{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 15px;
    color: #fff;
}

div.mix{
  padding-bottom: 35px;
}

a.test:hover{
  background-image: url(images/hover.png);
  border-color: #000;
}

div.center{
  background-color: #16a086;
  padding-bottom: 45px;
}

div.profile-wrapper{
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

div.name{
  padding-top: 20px;
  font-size: 18px;
  color: #444;
  text-align: center;
  line-height: 1;
  padding-bottom: 22px;
}

div.name > span{
  font-size: 14px;
  color: #444;
  font-weight: italic;
}

div.text{
  font-size: 14px;
  color: #444;
  padding-bottom: 70px;
}

div.text-2{
  font-size: 14px;
  color: #444;
  padding-bottom: 30px;
}

div.center-bottom{
  background-color: #ecf0f1;
}

#name{
  border: 2px solid #bec3c7;
  padding: 15px 0px 15px 12px;
  width: 100%;
}

#email{
  border: 2px solid #bec3c7;
  padding: 15px 0px 15px 12px;
  width: 100%;
}

#comments{
  width: 100%;
  border: 2px solid #bec3c7;
  margin-top: 22px;
  padding: 15px 0px 118px 12px;
}



@media (max-width: 767px) {
        /*xs*/
        a.link-button {
          font-size: 9px;
          text-transform: uppercase;
          font-weight: bold;
          margin-right: 3px;
          color: #fff;
        }


        div.col-xs-3 {

          width: 100%;
        }

        div.img{
          text-align: center !important;
        }
        div.view{
          text-align: center !important;
        }
        a.home-button {
        padding: 10px 10px;
        background-color: #1bbc9b;
        }

        div.view-first{
          text-align: center !important;
        }

        div.col-xs-offset-1{
          margin-left: 0px;
        }

        div.text{
          text-align: center;
        }

        div.text-2{
          text-align: center;
        }

        #email{
          border: 2px solid #bec3c7;
          padding: 15px 0px 15px 12px;
          margin-top: 22px;
          width: 100%;
        }
        div.row{
        margin-right: 0px;
        margin-left: 0px;
      }
      .view .mask,.view .content {
         width: 100% !important;
         height: 48px;
         position: absolute;
         overflow: hidden;
         top: 65%;
         left: auto !important;

      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        /*sm*/
        a.link-button {
          font-size: 13px;
          text-transform: uppercase;
          font-weight: bold;
          margin-right: 15px;
          color: #fff;
        }

        div.col-xs-3 {

          width: 100%;
        }

        div.img{
          text-align: center;
        }

        div.col-xs-offset-1{
          margin-left: 0px;
        }

        div.text{
          text-align: center;
        }
        div.text-2{
          text-align: center;
        }
        div.row{
          margin-right: 0px;
          margin-left: 0px;
        }

        .view .mask,.view .content {
           width: 100% !important;
           height: 48px;
           position: absolute;
           overflow: hidden;
           top: 65%;
           left: auto !important;

        }

    }
    @media (min-width: 992px) and (max-width: 1199px) {
        /*md*/
        a.link-button {
          font-size: 13px;
          text-transform: uppercase;
          font-weight: bold;
          margin-right: 15px;
          color: #fff;
        }
    }
    @media (min-width: 1200px) {
        /*lg*/
        a.link-button {
          font-size: 13px;
          text-transform: uppercase;
          font-weight: bold;
          margin-right: 15px;
          color: #fff;
        }
    }

    .navbar-main .navbar-toggle .icon-bar {
    background-color: #fff;
}

div.main-btn-2 > a{
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  background-color: #1bbc9b;
  padding: 15px 30px;
}

div.main-btn-2 > :hover{
  text-decoration: none;
  background-color: #fff;
  color: #444;
}
div.main-btn-2{
  padding-top: 25px;
  padding-bottom: 75px;
}

div.footer{
  background-color: #2d3e50;
  width: 100%;
}

div.copyright{
  color: #ffffff;
  padding: 37px 0 37px 0;
  font-weight: 300;
}

div.bigger-text > p{
  font-size: 14px;
  color: #444;
}

a.link-button:focus{
  cursor: pointer !important;
}

#map{
  padding-bottom: 55px;
}









.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
}

.ch-info {
    position: absolute;
    background: rgba(63,147,147, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    opacity: 0;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);

    -webkit-backface-visibility: hidden;
}

.ch-item:hover {
    box-shadow:
        inset 0 0 0 1px rgba(255,255,255,0.1),
        0 1px 2px rgba(0,0,0,0.1);
}
ul.nav > li > a{
  cursor: pointer;
}
